.name{
    font-size: 40px;
    font-family: cursive;
    
}
*{
background-color: black;
color: white;
margin-bottom: 1%;
}
.download {
    color: white;
    font-size: 17px;
    margin-top: 8%;
    background-color: #3385D6;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.5% 0.5% 0.5% 0.5%;
    
  }
  .iconbutton{
    background-color: #3385D6;
    font-size: 25px;
  }
  /* Add this at the end of your existing CSS file */

/* Mobile Styles */
@media only screen and (max-width: 600px) {
  .img1, .img2, .img3, .img4, .img5, .img6 {
    width: 100%;
    margin-left: 0;
  }

  #img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2%;
  }

  .container1 {
    align-items: center;
  }

  .ptag {
    width: 80%;
  }

  .footer a {
    font-size: 18px;
  }

  .footerhead {
    margin-top: 2%;
  }

  .mobile {
    margin-top: 0;
  }

  .logout {
    margin-top: 10px;
  }

  .images {
    text-align: center;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .img1, .img2, .img3, .img4, .img5, .img6 {
    width: 100%;
    margin-left: 0;
  }

  .container1 {
    align-items: center;
  }

  .ptag {
    width: 80%;
  }

  #img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2%;
  }
}

@media only screen and (min-width: 1025px) {
}
